

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Cabinet Grotesk', sans-serif;
    background-image: url(../IMÁGENES/tree_bark.png);
}

.fa-solid{
    position: fixed;
    font-size: 70px;
    margin-left: 95%;
    margin-top: 520px;
    z-index: 30;
    color: #655363;
}

/* HTML INICIO */

.container{
    width: 100%;
    display: flex;
    background-color: #B7CDBB;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.logo{
    font-family: 'Meylinda', sans-serif;
    margin-right: auto;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.logo a{
    text-decoration: none;
    color: #000;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px
}

/* SECCION PRESENTACION */

.presentacion{
    width: 100%;
    min-height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    width: 400px;
    height: auto;
    text-align: center;
}

.card1{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

.card2{
    filter: drop-shadow(-25px 10px 15px #A5907E);
}

.card1 h1{
    font-size: 40px;
}

.parrafo{
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
}

.titulo{
    font-size: 30px;
    font-weight: 700;
}

.t2{
    font-size: 25px;
}

.btn{
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    background: #AAC5BF;
    border: 2px solid #5A4956;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: black;
}

.btn:hover{
    background-color: #A1CDA8;
    font-weight: 700;
  }

/* SECCION AMIGURUMI */

.amigurumi{
    width: 100%;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1px;
    background-color: #F8D4B4;
    position: relative;
    height: 5vh;
}

.triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 191px 0 191px;
    border-color: #F8D4B4 transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
  }

.amigurumi-cont{
    min-width: 400px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}

.amig-div{
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;  
}

.amig-img{
    width: 450px;
    height: 300px;
    background-size: cover;
    border-radius: 60px;
    filter: drop-shadow(-25px 25px 20px #8d6947);
}

.img1{
    background-image: linear-gradient(120deg, #e0ec7454 0%, #9dd4f03f 50%), url(../IMÁGENES/11.jpg);
}

.img2{
    background-image: linear-gradient(120deg, #e0ec7454 0%, #9dd4f03f 50%), url(../IMÁGENES/22.jpg);
}

/* SECCION PRODUCTOS */

.catalogo{
    width: 100%;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.catalogo ul{
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.cat-card{
    width: 350px;
    height: 500px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: rgba(159, 248, 249, .20);  
    backdrop-filter: blur(2px);
    border-radius: 60px;
}

.cat-img{
    width: 280px;
    height: 339px;
    border-radius: 60px;
}

.cat-btn{
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    background: #BFB0BC;
}

/* FOOTER */

.pie{
    width: 100%;
    min-height: 300px;
    background-color: #B7CDBB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.pie-cont{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.fa-brands{
    font-size: 40px;
    color: #000;
}

.pie-img{
    width: 180px;
    height: 75px;
    filter: drop-shadow(-25px 10px 5px #A7B4A8);
}

/* HTML AMIGURUMI */

.amigurumi-def{
    width: 100%;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    background-color: #F8D4B4;
}

iframe{
    border: none;
    min-width: 560px;
    min-height: 315px;
}

/* HTML CATALOGO */

.cat{
    min-height: 1300px;
}

/* HTML CONTACTO */

.contacto{
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cont-form {
    min-width: 300px;
    max-width: 500px;
    min-height: 300px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #C5E7E2;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 17px;
    font-weight: 600;
  }
  
  input,
  textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em sans-serif;
  
    /* Tamaño uniforme del campo de texto */
    width: 300px;
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
  
    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
  }
  
  textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;
    height: 100px;
  }
  
  .button {
    /* Alinear los botones con los campos de texto */
    padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
    
  }
